.selected {
    background-color: lightgray;
}

td, .table thead th {
  text-align: center;
}


span.fa {
  cursor: pointer;
}

.amount {
  width: 15px;
  padding-left: 1em;
  padding-right: 1em;
}

.table .button {
  font-size: 1em;
  font-weight: bold;
}

.no {
  opacity: 0;
}

textarea {
  resize: none;
  overflow: hidden;
  height : 100%;
}

main.max {
  height : 95%;
}
